.main-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    position: relative;
    width: 100%;
    height: 100vh;
}
.main-container::before{
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-image: var(--background);
    filter: brightness(0.4);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}